<VirtualHost *:80>
    ServerName {{ server_name }}

    DocumentRoot {{ document_root }}

    DirectoryIndex index.php index.html

    <Directory {{ document_root }}>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog /var/log/httpd/{{ server_name }}_error.log
    CustomLog /var/log/httpd/{{ server_name }}_access.log combined
</VirtualHost>
